# BlueMicro832 board configuration

# Copyright (c) 2020 Pete Johanson, Derek Schmell
# SPDX-License-Identifier: MIT

if BOARD_BLUEMICRO832

config BOARD
	default "bluemicro832"

config BT_CTLR
	default BT

config ZMK_BLE
	default y


endif # BOARD_BLUEMICRO832
